.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
   background-color: azure;
}

h2, h4 {
  margin:1rem;
}

.coktail_position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;  
  
  margin: 2rem;
  border: 10px solid darkblue;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
}


.divstyle {
  position: relative;
}

/* button {
  position: absolute;
  top: 130px;
  left: 400px;
  padding: 10px;j
  border-radius: 10px;
  background-color: brown;
  font-style: normal;
  font-weight: 800;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);

} */

.categories-style {
  background-color: aqua;
  width: 500px;
  text-align: center;
  margin: auto;
  border: 20px solid darkblue;
  box-shadow: -59px 42px 39px 0px rgba(0,0,0,0.7);
  -webkit-box-shadow: -59px 42px 39px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: -59px 42px 39px 0px rgba(0,0,0,0.7);
}

/* .joie-boisdemai {
  display
} */